.no-padding {
	padding: 0;
}
.prompt-icon {
	font-size: 18px;
	vertical-align: -3px;
}
.pic-box {
	margin:0 auto;
	text-align: center; 
	font-size: 12px;
}
.pic-item {
	display:inline-block;
	width: 200px; 
	height: 256px;
	margin:  5px;
	border: 1px solid #dadada;	
	vertical-align: top; 
	overflow: hidden;
}
.pic-size {
	width: 182px;
	height: 182px;
	margin:8px;
}
.pic-box .words {
	display:inline-block;
	padding: 0 8px;
	text-align: left;
}