.no-padding {
	padding: 0;
}
.show-length {
	font-size: 12px;
	text-align: right;
	margin-top: 2px;
}
.prompt-icon {
	font-size: 18px;
	vertical-align: -3px;
}
.pic-box {
	margin:0 auto;
	text-align: center; 
	font-size: 12px;
}
.pic-item {
	display:inline-block;
	width: 200px; 
	height: 256px;
	margin:  5px;
	border: 1px solid #dadada;	
	vertical-align: top; 
	overflow: hidden;
}
.pic-size {
	width: 182px;
	height: 182px;
	margin:8px;
}
.pic-box .words {
	display:inline-block;
	padding: 0 8px;
	text-align: left;
}
#preview-pane,#preview-mini {
  display: block;
  padding: 6px;
  margin-left: 36px;
  border: 1px rgba(0,0,0,.4) solid;
  background-color: white;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;

  -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
}

#preview-pane .preview-container {
  width: 182px;
  height: 182px;
  overflow: hidden;
}
.preview-mini-box {
	width: 60px;
	height: 60px;
	overflow: hidden;
}
.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}

.fileUpload input.upload {	
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.task-pool {
	position:relative;
	min-height: 600px;
	padding: 6px;
	border: 1px solid #dadada;
}
.make-task {
	position: absolute;
	top:5px;
	right: 5px;
}
.task-item {
	position:relative;
	width: 99%;
	min-height: 80px; 
	margin: 5px auto;
	border: 1px solid #dadada;
}
.task-sort {
	padding: 0 5px;
}
.task-sort span {
	font-size: 12px;
	font-weight: bold;
}
.task-sort a{
	margin-right: 1px;
}
.task-property {
	position: absolute;
	top: 0;
	bottom: 0;
	display: block;
	float: left;
	width: 10px;
}
.task-border {
	min-height: 50px;
	margin:3px 3px 3px 13px;
	padding: 5px;
	border: 1px solid #dadada;
}
.task-limit-time {
	margin: 3px 3px 3px 16px
}
.task-limit-time > p {
	margin-bottom: 0;
	font-size: 12px;
}
.task-more {
	position: relative;
	min-height: 30px;
	padding: 3px 10px 0;
	margin: 3px 3px 3px 13px; 
	border: 1px solid #dadada;
}
.task-more .task-action {
	margin-bottom: 5px;
}
.task-more a {
	font-size: 12px;
}
.task-more .task-action .js-update {
	margin-left: 3px;
}
.task-more .more-info {
	display:none;
	clear: both;
	border-top: 1px solid #dadada;
}
.task-more .rules-container {
	position: relative;
}
.task-more .btn-add {
	position: absolute;
	top: -25px;
	left: 36px;

}
.task-more .rules-box {
	position: relative;
	display: none;
}
.task-more .rule-text {
	width: 100%;
	padding: 3px;
	resize: none;
}
.task-more .btn-send {
	position: absolute;
	left: 0;
	top: 52px;
}
.task-more .btn-cancel{
	position: absolute;
	left: 40px;
	top: 52px;
}
.task-important {
	background-color: red;
}
.task-urgent {
	background-color: #f0ad4e;
}
.task-normal {
	background-color : #d3d7d4;
}
.action-display {
	display: none;
}
.task-item:hover .action-display{
	display: inline-block;
}
.task-nav {
	display: none;
}
@media(max-width: 767px){
	.task-hidden {
		display: none;
	}
	.task-show {
		display: block;
	}
	.task-nav {
		display: block;
	}
	.task-list {
		position: relative;
	}
	.tab {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
	
}