<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="overflow:hidden">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <div class="prompt"  style="text-align: center;">
          <span class="prompt-icon glyphicon glyphicon-upload" style="">
          </span> 请上传
        </div>
      </div>
      <div class="modal-body" style="display: table;">
        <form method="post" action="" enctype="multipart/form-data">
        <div class="fileUpload btn btn-primary">
        <span>选择图片</span>
         <input type="file" name="file" id="demo1" class="upload" />
        </div>
        <span style="font-size: 12px; color: #d1d1d1">支持jpg、jpeg、gif、png格式的图片</span>
        </form>
         <div class="notice pull-left" style="width: 300px; height: 300px;vertical-align: 50%;text-align: center;background-image: url('/Public/images/upload4.png');background-repeat: no-repeat;background-position: 0 0">
         </div>
        <div class="boxImage pull-left" style="width: 300px; height: 300px;vertical-align: 50%;text-align: center; background-color: #dadada;display:none;">

          <img id="jcrop-pic" class="pic img-responsive" src="{:IMAGES_PATH}3.png" style="vertical-align:middle; max-height: 300px;max-width: 300px;width: auto;height: auto;" />
        </div>
        <div id="preview-pane" class="pull-left">
          <div class="preview-container">
            <img src="{:IMAGES_PATH}3.png" class="jcrop-preview pic"/>
          </div>
        </div>
        <div class="pull-left" style="margin-left: 32px;">
          <form method="post" action="user/imgCrop" id="imgInfo">
            <div class="form-group">
              <p>关于她/他的</p>
              <textarea maxlength="40" class="pic-words" name="picWords" style="resize:none;width: 220px;height: 60px;font-size: 12px;"></textarea>
              <p style="text-align: right;font-size: 12px;">（还能输入 <span class="words-length">40</span> 个字/40个字）</p>
            </div>
              <input type="hidden" id="imgSrc" name="imgSrc" />
              <input type="hidden" id="x" name="x" />
              <input type="hidden" id="y" name="y" />
              <input type="hidden" id="w" name="w" />
              <input type="hidden" id="h" name="h" />
              <input type="hidden" id="pw" name="pw" />
              <input type="hidden" id="ph" name="ph"/>
              <input type="hidden" id="cw" name="cw"/>
              <input type="hidden" id="ch" name="ch"/>
              <input type="hidden" id="postStatus" name="postStatus"/>
              <input type="hidden" name="picUserId" value="{$user.user_id}"/>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <a href="javascript:;" class="btn btn-default btn-close" data-dismiss="modal">关闭</a>
        <a href="javascript:;" class="btn btn-primary btn-save disabled">保存</a>
      </div>
    </div>
  </div>
</div>