<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="overflow:hidden">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body" style="display: table;">
        <!-- <form class="form" action="user/upload" enctype="multipart/form-data" method="post" >
        <input type="text" name="name" />
        <input type='file'  name='photo' class="upic">
        </form>
        <button id="upload">上传</button> -->
        <form method="post" action="" enctype="multipart/form-data">
        <div class="fileUpload btn btn-primary">
        <span>选择图片</span>
         <input type="file" name="file" id="demo1" class="upload" />
        </div>
        <span style="font-size: 12px; color: #d1d1d1">支持jpg、jpeg、gif、png、bmp格式的图片</span>
        </form>
         <div class="notice pull-left" style="width: 300px; height: 300px;vertical-align: 50%;text-align: center; background-color: #dadada;">
         </div>
        <div class="boxImage pull-left" style="width: 300px; height: 300px;vertical-align: 50%;text-align: center; background-color: #dadada;display:none;">

          <img id="jcrop-pic" class="pic img-responsive" src="{:IMAGES_PATH}3.png" style="vertical-align:middle; max-height: 300px;max-width: 300px;width: auto;height: auto;" />
        </div>
        <div id="preview-pane" class="pull-left">
          <div class="preview-container">
            <img src="{:IMAGES_PATH}3.png" class="jcrop-preview pic"/>
          </div>
        </div>
        <div class="pull-left" style="margin-left: 32px;">
          <form method="post" action="user/imgCrop" id="imgInfo">
            <div class="form-group">
              <p>关于她/他的</p>
              <textarea name="describe" style="resize:none;width: 200px;height: 50px;"></textarea>
            </div>
              <input type="hidden" id="imgSrc" name="imgSrc" />
              <input type="hidden" id="x" name="x" />
              <input type="hidden" id="y" name="y" />
              <input type="hidden" id="w" name="w" />
              <input type="hidden" id="h" name="h" />
          </form>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary btn-save">保存</button>
      </div>
    </div>
  </div>
</div>