<div class="row">
	<div class="col-md-6" style="border: 1px solid #dadada;">
		<div class="pull-left" style="position: relative">
			<a href="#" style="margin: 5px 0px; display:inline-block;"><img src="{:IMAGES_PATH}3.png" style="height: 80px;weight: 80px;"></a>
			<div class="" style="position: absolute;bottom: 5px;background-color: rgba(0,0,0,.3);width: 100%;text-align: center;"><a href="" style="color: #ffffff;">换头像</a></div>
		</div>
		<div class="" style="margin-left: 100px;padding-top: 10px;">
			<div class="row">
				<div class="col-xs-6">
					<p style="">用户名：{$user.user_name}</p>
					<p style="">昵称：
						<empty name="user.user_nickname">
							{$user.user_name}
						<else />
							{$user.user_nickname}
						</empty>

					</p>
				</div>
				<div class="col-xs-6">
					<p style="">星座：{$user.user_sign|default="未填"}</p>
					<p style="">年龄：{$user.user_birthday|default="未填"}</p>
				</div>
				<div class="col-xs-8" style="margin-bottom: 5px;">
					所在地：{$user.user_addr|default="未填"}
				</div>
				<div class="col-xs-8">
					{$user.user_signature|default="未填"}
				</div>
				<div  style="text-align:right;float:right"><a href="user/details" class="btn btn-success">编辑个人资料</a></div>
			</div>
		</div>
	</div>
	<div class="col-md-3" style="border: 1px solid #dadada；">
		<div>今日任务</div>
		<ul>
			<li>任务1()</li>
			<li>任务2()</li>
			<li>任务3(完成)</li>
		</ul>
	</div>
	<div class="col-md-3">
		
	</div>
</div>