<extend  name="Public:base"/>
<block name="title">首页</block>
<block name="content">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<div class="pull-left" style="margin-right: 15px;">
					<div class="" style="height: 320px;width: 270px;background-color: black;">
						<img src="{:IMAGE_PATH}1.png">
					</div>
				</div>
				<div class="pull-left" style="margin-right: 15px;">
					<div class="" style="height: 320px;width: 270px;background-color: black;">
						<img src="{:IMAGE_PATH}1.png">
					</div>
				</div>
				<div class="pull-left" style="margin-right: 15px;">
					<div class="" style="height: 320px;width: 270px;background-color: black;">
						<img src="{:IMAGE_PATH}1.png">
					</div>
				</div>
			</div>
			<div class="col-md-2">
				
			</div>
		</div>
	</div>
</block>