<extend  name="Public:base"/>
<block name="title">首页</block>
<block name="content">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<div class="container-fluid" style="margin: 0 auto 10px;background-color: black;"  >
					<div class="" style="margin-right: 15px;">
						<div class="" style="width: 240px;">
							<img src="{:IMAGES_PATH}3.png" style="height: 160px;weight: 160px;">
						</div>
					</div>
					<div class="" style="background-color: #adadad;height: 45px;"></div>
				</div>
				<div class="container-fluid"  style="margin: 0 auto 10px;background-color: black;"  >
					<div class="" style="margin-right: 15px;">
						<div class="" style="width: 240px;">
							<img src="{:IMAGES_PATH}3.png" style="height: 160px;weight: 160px;">
						</div>
					</div>
					<div class="" style="background-color: #adadad;height: 45px;"></div>
				</div>
				<div class="container-fluid"  style="margin: 0 auto 10px;background-color: black;" >
					<div class="" style="margin-right: 15px;">
						<div class="" style="width: 240px;">
							<img src="{:IMAGES_PATH}3.png" style="height: 160px;weight: 160px;">
						</div>
					</div>
					<div class="" style="background-color: #adadad;height: 45px;"></div>
				</div>
				<div class="container-fluid"  style="margin: 0 auto 10px;background-color: black;">
					<div class="" style="margin-right: 15px;">
						<div class="" style="width: 240px;">
							<img src="{:IMAGES_PATH}3.png" style="height: 160px;weight: 160px;">
						</div>
					</div>
					<div class="" style="background-color: #adadad;height: 45px;"></div>
				</div>
			</div>
			<div class="col-md-5">
				<div class="" style="height: 500px;background-color: black;"></div>
			</div>
		</div>
	</div>
</block>