<extend name="Public:base"/>
<block name="title">个人中心</block>
<block name="content">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="" style="text-align: center;">
					<a href="#" style="margin: 5px 5px; display:inline-block;"><img src="{:IMAGES_PATH}3.png" style="height: 160px;weight: 160px;"></a>
					<a href="#" style="margin: 5px 5px; display:inline-block;"><img src="{:IMAGES_PATH}3.png" style="height: 160px;weight: 160px;"></a>
					<a href="#" style="margin: 5px 5px; display:inline-block;"><img src="{:IMAGES_PATH}3.png" style="height: 160px;weight: 160px;"></a>
					<a href="#" style="margin: 5px 5px; display:inline-block;"><img src="{:IMAGES_PATH}3.png" style="height: 160px;weight: 160px;"></a>
					<a href="#" style="margin: 5px 5px; display:inline-block;"><img src="{:IMAGES_PATH}3.png" style="height: 160px;weight: 160px;"></a>
					<a href="#" style="margin: 5px 5px; display:inline-block;"><img src="{:IMAGES_PATH}3.png" style="height: 160px;weight: 160px;"></a>
					<a href="#" style="margin: 5px 5px; display:inline-block;"><img src="{:IMAGES_PATH}3.png" style="height: 160px;weight: 160px;"></a>
					<a href="#" style="margin: 5px 5px; display:inline-block;"><img src="{:IMAGES_PATH}3.png" style="height: 160px;weight: 160px;"></a>
				</div>
			</div>
			<div class="col-md-4">
				<form action="user/upload" enctype="multipart/form-data" method="post" >
					<input type="text" name="name" />
					<input type="file" name="photo" />
					<input type="submit" value="提交" >
				</form>
			</div>
		</div>
	</div>
</block>
