<extend name="Public:base"/>
<block name="title">个人中心</block>
<block name="content">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="" style="text-align: center;">
					<a href="#" style="margin: 5px 5px; display:inline-block;"><img src="{:IMAGES_PATH}3.png" style="height: 160px;weight: 160px;"></a>
					<a href="#" style="margin: 5px 5px; display:inline-block;"><img src="{:IMAGES_PATH}3.png" style="height: 160px;weight: 160px;"></a>
					<a href="#" style="margin: 5px 5px; display:inline-block;"><img src="{:IMAGES_PATH}3.png" style="height: 160px;weight: 160px;"></a>
					<a href="#" style="margin: 5px 5px; display:inline-block;"><img src="{:IMAGES_PATH}3.png" style="height: 160px;weight: 160px;"></a>
					<a href="#" style="margin: 5px 5px; display:inline-block;"><img src="{:IMAGES_PATH}3.png" style="height: 160px;weight: 160px;"></a>
					<a href="#" style="margin: 5px 5px; display:inline-block;"><img src="{:IMAGES_PATH}3.png" style="height: 160px;weight: 160px;"></a>
					<a href="#" style="margin: 5px 5px; display:inline-block;"><img src="{:IMAGES_PATH}3.png" style="height: 160px;weight: 160px;"></a>
					<a href="#" style="margin: 5px 5px; display:inline-block;"><img src="{:IMAGES_PATH}3.png" style="height: 160px;weight: 160px;"></a>
				</div>
			</div>
			<div class="col-md-4">
				456
			</div>
		</div>
	</div>
</block>
