<extend name="Public:base"/>
<block name="title">个人中心</block>
<block name="content">
	<div class="container">
		<include file="user:part/user_detail_top"/>
		<div class="row">
			<div class="col-md-7">
				<h4 class="" style="font-weight: bold;">图库</h4>
				<div class="" style="margin:0 auto;float:left;">
					<div class="pull-left" style="margin: 0 5px;box-shadow:2px 3px 2px 1px rgba(0,0,0,0.7);width: 200px; ">
						<img src="{:IMAGES_PATH}3.png" style="height: 200px;weight: 200px;">
						<div class="" style="height: 60px; background-color: #ffffff;padding: 5px;">
							人生没有彩排，每一天都是现场直播。
						</div>
					</div>
					<div class="pull-left" style="margin: 0 5px;box-shadow:2px 3px 2px 1px rgba(0,0,0,0.7);width: 200px; ">
						<img src="{:IMAGES_PATH}3.png" style="height: 200px;weight: 200px;">
						<div class="" style="height: 60px; background-color: #ffffff;padding: 5px;">
							人生没有彩排，每一天都是现场直播。
						</div>
					</div>
					<div class="pull-left" style="margin: 0 5px;box-shadow:2px 3px 2px 1px rgba(0,0,0,0.7);width: 200px; ">
						<img src="{:IMAGES_PATH}3.png" style="height: 200px;weight: 200px;">
						<div class="" style="height: 60px; background-color: #ffffff;padding: 5px;">
							人生没有彩排，每一天都是现场直播。
						</div>
					</div>
					<div class="pull-left" style="margin: 0 5px;box-shadow:2px 3px 2px 1px rgba(0,0,0,0.7);width: 200px; ">
						<img src="{:IMAGES_PATH}3.png" style="height: 200px;weight: 200px;">
						<div class="" style="height: 60px; background-color: #ffffff;padding: 5px;">
							人生没有彩排，每一天都是现场直播。
						</div>
					</div>
					<div class="pull-left" style="margin: 0 5px;box-shadow:2px 3px 2px 1px rgba(0,0,0,0.7);width: 200px; ">
						<img src="{:IMAGES_PATH}3.png" style="height: 200px;weight: 200px;">
						<div class="" style="height: 60px; background-color: #ffffff;padding: 5px;">
							人生没有彩排，每一天都是现场直播。
						</div>
					</div>
					<div class="pull-left" style="margin: 0 5px;box-shadow:2px 3px 2px 1px rgba(0,0,0,0.7);width: 200px; ">
						<img src="{:IMAGES_PATH}3.png" style="height: 200px;weight: 200px;">
						<div class="" style="height: 60px; background-color: #ffffff;padding: 5px;">
							人生没有彩排，每一天都是现场直播。
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-5">
				<h4 style="font-weight: bold">任务</h4>
				<h4 style="font-weight: bold">记录</h4>
			</div>
			
		</div>
	</div>
</block>
