<extend name="Public:base"/>
<block name="css">
	<link rel="stylesheet" type="text/css" href="{:LIBS_PATH}/DateTimePicker/DateTimePicker.min.css">
</block>
<block name="title">任务</block>
<block name="content">
<div class="container">
	<div class="">
		<ul class="nav nav-tabs task-nav" style="margin-left: 1px;">
			<li class="" style="width: 33.33333%;text-align: center;"><a href="javascript:;" class="nav-to-do ">还要做的事</a></li>
			<li class="active" style="width: 33.33333%;text-align: center;"><a href="javascript:;" class="nav-doing">正在做的事</a></li>
			<li class="" style="width: 33.33333%;text-align: center;"><a href="javascript:;" class="nav-done">已完成的事</a></li>
		</ul>
	</div>
	<div class="row task-list">
		<div class="col-sm-4 col-md-3 tab tab-to-do task-hidden">
			<div class="task-pool" style="">
				<h4><b>需要做的事</b></h4>
				<div class="make-task">
					<a href="javascript:;" class="btn btn-success btn-task-a">新建任务</a>
				</div>
				<div class="task-sort">
					<span style="">排序：</span>
					<a href="javascript:;" class="btn btn-default btn-xs sort-normal" >一般</a>
					<a href="javascript:;" class="btn btn-warning btn-xs sort-urgent" >紧急</a>
					<a href="javascript:;" class="btn btn-danger btn-xs sort-important">重要</a>
				</div>
				<div class="to-do" >
					<volist name="toDo" id="vo">
						<div class="task-item" data-task="{$vo.task_id}" data-task-sort="{$vo.task_property}">
							<switch name="vo['task_property']">
								<case value="0">
									<a href="javascript:;" class="task-property task-normal" data-property="{$vo['task_property']}"></a>
								</case>
								<case value="1">
									<a href="javascript:;" class="task-property task-urgent"  data-property="{$vo['task_property']}"></a>
								</case>
								<case value="2">
									<a href="javascript:;" class="task-property task-important"  data-property="{$vo['task_property']}"></a>
								</case>
							</switch>
							<div class="task-border">
								<p class="task-content">{$vo.task_content}</p>
							</div>
							<div class="task-limit-time">
								<p class="">
									<php>$t = strtotime($vo['task_limit_time'])</php>
									<if condition="$t">
										最后完成时间:{$vo['task_limit_time']|default=''}
									</if>
								</p>
							</div>
							<div class="task-more">
								<div class="task-action">
									<a href="javascript:;" class="js-more">查看更多</a>
									<a href="javascript:;" class="js-update action-display"><sapn class="glyphicon glyphicon-edit"></sapn> 修改</a>
									<a href="javascritp:;" class="js-delete action-display"><span class="glyphicon glyphicon-trash"></span> 删除</a>
									<a href="javascript:;" class="btn btn-default btn-xs pull-right start-task">开始任务</a>
								</div>
								<div class="more-info">
									<div class="">
										<h5><b>奖励</b></h5>
										<div class="rules-container">
											<empty name="vo['task_reward']">
												<a href="javascript:;" class="btn-add">添加</a>
												<div class="rules-box reward">
													<textarea class="monitor-length rule-text" maxlength="30" placeholder="奖励是什么"></textarea>
													<p class="show-length" data-length = "30">最多只能输入 (<span class="words-length">30</span>) 30个字哦</p>
													<button type="button" class="btn btn-default btn-xs btn-send" data-rule="reward">保存</button>
												</div>
											<else/>
												<p>{$vo.task_reward}</p>
											</empty>
										</div>
									</div>
									<div class="">
										<h5><b>惩罚</b></h5>
										<div class="rules-container">
											<empty name="vo['task_punish']">
												<a href="javascript:;" class="btn-add">添加</a>
												<div class="rules-box punish">
													<textarea class="monitor-length rule-text" maxlength="30" placeholder="惩罚是什么"></textarea>
													<p class="show-length" data-length = "30">最多只能输入 (<span class="words-length">30</span>) 30个字哦</p>
													<button type="button" class="btn btn-default btn-xs btn-send" data-rule="punish">保存</button>
												</div>
											<else/>
												<p>{$vo.task_punish}</p>
											</empty>
										</div>
									</div>
								</div>
							</div>
						</div>
					</volist>
				</div>
			</div>
		</div>
		<div class="col-sm-4 col-md-3 tab tab-doing">
			<div class="task-pool">
				<h4><b>正在做的事</b></h4>
				<div class="task-sort">
					<span style="">排序：</span>
					<a href="javascript:;" class="btn btn-default btn-xs" >一般</a>
					<a href="javascript:;" class="btn btn-warning btn-xs" >紧急</a>
					<a href="javascript:;" class="btn btn-danger btn-xs">重要</a>
				</div>
				<div class="doing">
					<volist name="doing" id="vo">
						<div class="task-item" data-task="{$vo.task_id}">
							<switch name="vo['task_property']">
								<case value="0">
									<a href="javascript:;" class="task-property task-normal"  data-property="{vo['task_property']}"></a>
								</case>
								<case value="1">
									<a href="javascript:;" class="task-property task-urgent"  data-property="{vo['task_property']}"></a>
								</case>
								<case value="2">
									<a href="javascript:;" class="task-property task-important"  data-property="{vo['task_property']}"></a>
								</case>
							</switch>

							<div class="task-border">
								<p>{$vo.task_content}</p>
							</div>
							<div class="task-limit-time">
								<p>
									<php>$t = strtotime($vo['task_limit_time'])</php>
									<if condition="$t">
										最后完成时间:{$vo['task_limit_time']|default=''}
									</if>
								</p>
							</div>
							<div class="task-more">
								<div class="task-action">
									<a href="javascript:;" class="js-more">查看更多</a>
									<a href="javascript:;" class="js-update action-display"><sapn class="glyphicon glyphicon-edit"></sapn> 修改</a>
									<a href="javascritp:;" class="js-delete action-display"><span class="glyphicon glyphicon-trash"></span> 删除</a>
									<a href="javascript:;" class="btn btn-default btn-xs pull-right finish-task">任务完成</a>
								</div>
								<div class="more-info">
									<div>
										<h5><b>奖励</b></h5>
										<div class="rules-container">
											<empty name="vo['task_reward']">
												<a href="javascript:;" class="btn-add">添加</a>
												<div class="rules-box reward">
													<textarea class="monitor-length rule-text" maxlength="30" placeholder="奖励是什么"></textarea>
													<p class="show-length" data-length = "30">最多只能输入 (<span class="words-length">30</span>) 30个字哦</p>
													<button type="button" class="btn btn-default btn-xs btn-send" data-rule="reward">保存</button>
												</div>
											<else/>
												<p>{$vo.task_reward}</p>
											</empty>
										</div>
									</div>
									<div class="">
										<h5><b>惩罚</b></h5>
										<div class="rules-container">
											<empty name="vo['task_punish']">
												<a href="javascript:;" class="btn-add">添加</a>
												<div class="rules-box punish">
													<textarea class="monitor-length rule-text" maxlength="30" placeholder="惩罚是什么"></textarea>
													<p class="show-length" data-length = "30">最多只能输入 (<span class="words-length">30</span>) 30个字哦</p>
													<button type="button" class="btn btn-default btn-xs btn-send" data-rule="punish">保存</button>
												</div>
											<else/>
												<p>{$vo.task_punish}</p>
											</empty>
										</div>
									</div>
								</div>
							</div>
						</div>
					</volist>
				</div>
			</div>
		</div>
		<div class="col-sm-4 col-md-3 tab tab-done task-hidden">
			<div class="task-pool">
				<h4><b>已完成的事</b></h4>
				<div class="task-sort">
					<span style="">排序：</span>
					<a href="javascript:;" class="btn btn-default btn-xs" >一般</a>
					<a href="javascript:;" class="btn btn-warning btn-xs" >紧急</a>
					<a href="javascript:;" class="btn btn-danger btn-xs">重要</a>
				</div>
				<div class="done">
					<volist name="done" id="vo">
						<div class="task-item" data-task="{$vo.task_id}">
							<switch name="vo['task_property']">
								<case value="0">
									<a href="javascript:;" class="task-property task-normal"  data-property="{vo['task_property']}"></a>
								</case>
								<case value="1">
									<a href="javascript:;" class="task-property task-urgent"  data-property="{vo['task_property']}"></a>
								</case>
								<case value="2">
									<a href="javascript:;" class="task-property task-important"  data-property="{vo['task_property']}"></a>
								</case>
							</switch>
							<div class="task-border">
								<p>{$vo.task_content}</p>
							</div>
							<div class="task-limit-time">
								<p>
									<php>$t = strtotime($vo['task_limit_time'])</php>
									<if condition="$t">
										最后完成时间:{$vo['task_limit_time']|default=''}
									</if>
								</p>
							</div>
							<div class="task-more">
								<div class="task-acion">
									<a href="javascript:;" class="js-more">查看更多</a>
									<a href="javascritp:;" class="js-delete action-display"><span class="glyphicon glyphicon-trash"></span> 删除</a>
									<a href="javascript:;" class="btn btn-default btn-xs pull-right disabled">已完成</a>
								</div>
								<div class="more-info">
									<div>
										<h5><b>奖励</b></h5>
										<div class="rules-container">
											<empty name="vo['task_reward']">
												<p>没有奖励</p>
											<else/>
												<p>{$vo.task_reward}</p>
											</empty>
										</div>
									</div>
									<div>
										<h5><b>惩罚</b></h5>
										<div class="rules-container">
											<empty name="vo['task_punish']">
												<p>没有测法</p>
											<else/>
												<p>{$vo.task_punish}</p>
											</empty>
										</div>
									</div>
								</div>
							</div>
						</div>
					</volist>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="task-model">
	
</div>
</block>
<block name="script">
	<script type="text/javascript" src="{:LIBS_PATH}DateTimePicker/DateTimePicker.js"></script>
	<script type="text/javascript" src=".{:LIBS_PATH}DateTimePicker/i18n/DateTimePicker-i18n.js"></script>
	<script type="text/javascript" src="{:JS_PATH}/task/task.js"></script>
</block>


