<extend name="Public:base"/>
<block name="title">任务</block>
<block name="content">
	<div class="container">
		<div class="">
			<a href="javascript:;" class="btn btn-success" data-toggle="modal" data-target="#myModal">新建任务</a>
			<include file="task:part/create_task"/>
		</div>
		<div class="row">
			<div class="col-sm-3" style="height: 600px;">
			<div class="" style="border: 1px solid #dadada;padding: 10px;">
				<h4><b>还要做的事</b></h4>
				<div class="" style="width: 98%;height: 80px; margin: 5px auto;background-color: black;">
					
				</div>
				<div class="" style="width: 98%;height: 80px; margin: 5px auto;background-color: black;">
					
				</div>
				<div class="" style="width: 98%;height: 80px; margin: 5px auto;background-color: black;">
					
				</div>
				<div class="" style="width: 98%;height: 80px; margin: 5px auto;background-color: black;">
					
				</div>
				<div class="" style="width: 98%;height: 80px; margin: 5px auto;background-color: black;">
					
				</div>
				<div class="" style="width: 98%;height: 80px; margin: 5px auto;background-color: black;">
					
				</div>
			</div>
			</div>
			<div class="col-sm-3" style="height: 600px;">
				<div class="" style="border: 1px solid #dadada;padding: 10px;">
				<h4><b>还要做的事</b></h4>
				<div class="" style="width: 98%;height: 80px; margin: 5px auto;background-color: black;">
					
				</div>
				<div class="" style="width: 98%;height: 80px; margin: 5px auto;background-color: black;">
					
				</div>
				<div class="" style="width: 98%;height: 80px; margin: 5px auto;background-color: black;">
					
				</div>
				<div class="" style="width: 98%;height: 80px; margin: 5px auto;background-color: black;">
					
				</div>
				<div class="" style="width: 98%;height: 80px; margin: 5px auto;background-color: black;">
					
				</div>
				<div class="" style="width: 98%;height: 80px; margin: 5px auto;background-color: black;">
					
				</div>
			</div>
			</div>
			<div class="col-sm-3" style="height: 600px;">
				<div class="" style="border: 1px solid #dadada;padding: 10px;">
				<h4><b>还要做的事</b></h4>
				<div class="" style="width: 98%;height: 80px; margin: 5px auto;background-color: black;">
					
				</div>
				<div class="" style="width: 98%;height: 80px; margin: 5px auto;background-color: black;">
					
				</div>
				<div class="" style="width: 98%;height: 80px; margin: 5px auto;background-color: black;">
					
				</div>
				<div class="" style="width: 98%;height: 80px; margin: 5px auto;background-color: black;">
					
				</div>
				<div class="" style="width: 98%;height: 80px; margin: 5px auto;background-color: black;">
					
				</div>
				<div class="" style="width: 98%;height: 80px; margin: 5px auto;background-color: black;">
					
				</div>
			</div>
			</div>
		</div>
	</div>

</block>